* {
  background-color: #025951;
}
.App {
  text-align: center;
  color: #f2f2f2;
  background-color: #025951;
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  width: 300px;
  border: solid 1px red;
  padding: 2em;
}

p {
  width: auto;
  height: 50px;
  white-space: nowrap;

  padding-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
